<nav class="bg-white ring-1 p-8 relative mb-10">

    <ul class="flex items-center list-none text-lg">
        <li class="text-slate-700 font-outfit text-3xl md:block hidden font-extrabold"
         routerLink="/home"
        >
            Employee Management</li>

        <li class="ml-auto flex ">
            <button class="bg-sky-900 text-white font-outfit text-normal text-md px-10 py-2
            rounded-md hover:opacity-90 ring-0.5"
            routerLink="/login"
            >
                Logout
            </button>
        </li>
    </ul>
</nav>
