<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
      
      <div class="card border-light-subtle shadow-sm">
        <div class="row g-0">
          <div class="col-12 col-md-6 text-bg-primary">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="col-10 col-xl-8 py-3">
                <h2 class="h2 mb-4">Employee Management App</h2>
                <hr class="border-primary-subtle mb-4">
                <p class="lead m-0"><strong>Welcome back!</strong></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-5">
                    <h3>Log in</h3>
                  </div>
                </div>
              </div>

              <!-- Login Form   -->        
              <form (ngSubmit)="signIn()" [formGroup]="loginForm">
                <div class="row gy-3 gy-md-4 overflow-hidden">
                  <div class="col-12">
                    <input 
                        formControlName="username" 
                        type="text" 
                        class="form-control" 
                        name="username"
                        id="username" 
                        placeholder="Username">

                  <!-- Required Message -->
                  <small
                    *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched"
                    class="text-danger">Username is required</small>     
                    
                  <!-- MinLength Message -->
                  <small
                  *ngIf="loginForm.get('username')?.errors?.['minlength'] && loginForm.get('username')?.touched"
                  class="text-danger">Username must be more than 4 characters</small>   

                  <!-- MaxLength Message -->
                  <small
                  *ngIf="loginForm.get('username')?.errors?.['maxlength'] && loginForm.get('username')?.touched"
                  class="text-danger">Username must be less than 100 characters </small> 

                  </div>
                  <div class="col-12">
                    <input 
                        formControlName="password" 
                        type="password" 
                        class="form-control" 
                        name="password" 
                        id="password" 
                        placeholder="Password" required>

                  <!-- Required Message -->
                  <small
                  *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
                  class="text-danger">Password is required</small>     
                   
                 <!-- MinLength Message -->
                 <small
                 *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched"
                 class="text-danger">Password must be more than 8 characters</small>   

                 <!-- MaxLength Message -->
                 <small
                 *ngIf="loginForm.get('password')?.errors?.['maxlength'] && loginForm.get('password')?.touched"
                 class="text-danger">Password must be less than 100 characters </small>       
                  </div>
               
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn bsb-btn-xl btn-primary" type="submit">Log in</button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-12">
                  <hr class="mt-5 mb-4 border-secondary-subtle">
                  <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                    <a routerLink="/signup" class="link-secondary text-decoration-none">Create new account</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

