<div class="modal-content ">
    <div class="modal-header ">
      <h2 class="modal-title" id="exampleModalLabel">{{ title }}</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
         (click)="dismiss()"
      ></button>
    </div>
    <div class="modal-body">
        <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>First name:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5>{{ employee?.first_name }} </h5>
                    </div>
              </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Last name:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5>{{ employee?.last_name }} </h5>
                    </div>
              </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Email:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5>{{ employee?.email }} </h5>
                    </div>
              </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Gender:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5>{{ employee?.gender }} </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Salary:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5>{{ employee?.salary }} </h5>
                    </div>
                </div>
          </div>
    </div>
  </div>

  